# Archivo de ejemplo para variables de entorno del módulo Psmdirector

# ID de la empresa en MDirector
MDIRECTOR_COMPANY_ID=TU_ID_AQUI

# API Secret de MDirector
MDIRECTOR_API_SECRET=TU_API_SECRET_AQUI