# Composer
/vendor/
composer.lock

# Dotenv
.env

# IDEs
.idea/
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.cache
*.tmp

# Archivos de PrestaShop generados
/autoupgrade/
/cache/
/config/settings.inc.php